{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-md-2 col-sm-2 col-xs-2">
    </div>
    <div class="col-md-8 col-sm-8 col-xs-8 login-rect" >
        <h2>New Post</h2>
        <form method="post">
            <table>
                <tr>
                    <td>
                        <label>
                            Subject
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" name="subject" value="{{subject}}">
                    </td>
                </tr>
            <tr>
                <td>
                    <label>
                        Blog
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <textarea name="content" class="textpost">{{content}}</textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="error">
                        {{error}}
                    </div>
                </td>
            </tr>
            <tr>
                <td class="text-right">
                    <input type="submit" class="btn btn-primary newpost-button" value="Post">
                </td>
            </tr>
        </table>
    </form>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2">
    </div>
</div>
{% endblock %}